# This is a basic workflow to help you get started with Actions

name: CIBuild

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [ubuntu-24.04]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v4

    # Install needed packages
    - name: Install needed packages
      run: sudo apt-get install build-essential bison autoconf2.69 autoconf texinfo zlib1g-dev libncurses5-dev libelf-dev libgmp-dev

    # Runs a set of commands using the runners shell
    - name: Run build
      run: |
        ./build-gcc-arm.sh
        ARTIFACT=$(cat artifact_name)
        ARTIFACTPATH=$(cat artifact_path)
        echo "ARTIFACT_NAME=$ARTIFACT" >> $GITHUB_ENV
        echo "ARTIFACT_PATH=$ARTIFACTPATH" >> $GITHUB_ENV

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: ${{ env.ARTIFACT_PATH }}
        overwrite: true

    - name: Create Release and Upload Asset
      if: startsWith(github.ref, 'refs/tags/v')
      uses: softprops/action-gh-release@v1
      with:
        files: ${{ env.ARTIFACT_PATH }}
        draft: true
        prerelease: false
